.output{
    text-align: center;
    font-size: 2em;
}

.boxAnswer{
    padding: 5px;
    text-align: center;
    width: 90px;
    background-color: #ddd;
    border: 1px solid #ccc;
    font-size: 1.3em;
    
}

.boxSign{
    padding: 10px;
    display: inline-block;
}

.box{
    padding: 5px;
    text-align: center;
    width: 50px;
    line-height: 45px;
    background-color: rgb(97, 93, 93);
    border: 1px solid #ccc;
    display: inline-block;
    color: white;
    border-radius: 10px;
}

button{
    text-align: center;
    margin: 20px auto;
    display: block;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    font-size: 1.5em;
    color: white;
}